apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: springboot-monitor
  namespace: monitoring
  labels:
    Release: monitoring
spec:
  selector:
    matchLabels:
      app: springboot
  namespaceSelector:
    matchNames:
    - default
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 15s